{% extends "base.html" %}

{% load url from future %} {# must put top line this for url with quotes see https://docs.djangoproject.com/en/dev/intro/tutorial03/ note at the #}
{% load i18n %} {# allows translations #}

{% block title %}{{ item.question }}{% endblock %}

{% block content_title %}{{ item.question }}{% endblock %}

{% block content %}
    <div>{% trans "question id" %}: <a href="{% url 'poll_detail' item.pk %}">{{ item.pk }}</a></div>
    <div>{% trans "creator" %}: {% include "accounts/user_link.html" with username=item.creator.username %}</div>
    {# <div>{% trans "creator's mugshot" %}: {% include "accounts/mugshot_userlink.html" with username=item.creator.username %}</div> #}
    <div>{% trans "date published" %}: {{ item.pub_date }}</div>
    <div>{% trans "your answer" %}:</div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'polls.views.vote' item.id %}" method="post">
        {% csrf_token %}
        {% comment %}this is supposed to avoid a user clicking on a link that causes the action to be performed without his knowledge and authenticates as him using cookie data{% endcomment %}
        {% for choice in item.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <input type="submit" value="{% trans "vote" %}" />
    </form>
{% endblock %}
